预览图，仅供参考：

Ps：以下是整个小程序的功能，若有想法欢迎提出，或者有无法实现的部分请及时说明、

沟通，后续有变更也会及时通知。

目标：搭建一个以“养宠日志”AI 智能分析为核心功能，辅以各方资源、提供一站式服务

的平台。侧重 ai 主动式预防/诊断；引入其他资源为辅，增加平台收入来源

注册页：用户名、宠物基本信息（宠物名、种类、品种、性别、生日、性格、喜好），

其中除了宠物名，其他均为标签选择式；前四种必填。

主页：需要有各功能模块的链接图标

 核心板块为：“养宠日志”（并有 AI 分析报告的查询按键）。位于主页重点位置，

并附有提示“今天还没有记录毛孩子的状态哦~”

“养宠日志”，用户可以进行记录，例如日常生活、精神状态等。养宠日志中，用户

发布需要选择“参与话题”，即打#tag（如日常、科普）；用户可以自行选择发布位置，包

括“乐乐（宠物名）日志”、社区，按键的选择至少 1 个，即可以只发表于 xx 日志中，也

可同时发表在 xx 日志和社区中。区别在于 xx 日志是私人性、用于 ai 分析；社区是公开

的、不可用于宠物健康 ai 分析。

1. 用于记录宠主与宠物的日常生活趣事，作为宠主的养宠回忆录；

2. 记录宠物的健康状态，比如说粪便情况、食欲和精神状态等，根据这些状态“关键词”，

从数据库中提取有关联的病症信息，来给出对应的提示，比如说可以多关注哪方面

的情况、现在有哪方面疾病的风险。（这里涉及到数据库相关的内容，可以和市场联

络组协作，寻找合适资源）

3. 分享养宠经验或科普知识，专供养宠人士的社区交流。

核心功能（创新点）：用户低成本式 AI 主动诊断功能

在日志分析中，可以以单个日志类别为总体样本进行分析。如用户包含“当当日志”

和“乐乐日志”，即多宠，我们的分析报告就分别为“当当”和“乐乐”的报告。

通过分析用户输入的日志（优先以文字信息为首，文字识别技术形成后，可以考虑

图片或视频的形式），主动识别出关键词（症状，例如粪便少、不成形、稀状），与数据

库（网上找）中的相应症状相匹配，找出最有可能患的几种病（范围在 2-4 种），并给

出对应的提示，比如说可以多关注哪方面的情况、现在有哪方面疾病的风险（这里涉及

到数据库相关的内容，可以和市场联络组协作，寻找合适资源）。

在疾病风险大于一定等级之后，AI 分析报告中推荐相应药物、线上问诊专家以及相

应附近宠物医院，指引宠物主人及时带宠物就医。（一定不能忘记免责声明，如“以上药

物推荐仅供参考，不能替代专业医疗建议。具体用药请务必咨询医生或医师，在专业知

道下进行”）

 底部导航栏可包括：首页、社区、日志、服务、我的（日志在中间）

首页（如例图）：包括日程提醒，如疫苗时间、喂鱼油、驱虫时间；对应的主要功能跳

转按键

服务模块：包括商城、线上问诊、服务预约（线下医疗美容洗澡等相关服务）

商城中，需要根据日志 AI 分析功能，为用户智能推荐报告中提示的可用的产品，

如报告中提到“根据掉毛严重的情况，建议您给毛孩子使用化毛膏哦~”，那在商城中优先

推荐这类产品。

线上问诊，逻辑同上。若报告提到“毛孩子可能存在肠胃炎/过敏等风险，请留意...

如...情况持续发生，请及时就医！”。在线上问诊中，自动匹配相应专家（兽医专家入驻

前，需要填写自己擅长领域）。

社区模块：可提供知识科普频道、日常分享、社群交流。需要具备发布内容、评论点赞

收藏的功能。

需要有：

 主题关键词分类，如日常记录、医疗知识、好物分享等
 用户进行记录的接口（参考微信朋友圈或者小红书）
 用户发布时的主题选择等选项

